

@media(max-width:768px){
    main{
       flex-direction: column;
    }
    
    section{
        flex-basis: 100%;
    }
}

@media(max-width:480){
    section{
        margin: lem;
        padding: leim;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(
    to right,
    #2774ae,#002E5D,#002E5D);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    justify-content: right;
}

.logo {
    float: left;
    font-size: 24px;
    margin-left: 20px;
    color: #fff;
    justify-content: left;
}

.nav-links {
    float: right;
    list-style-type: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
    justify-content: right;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #3d9ac5;
    transform: scale(70px);
}


.intro-video {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.intro-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-video .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.intro-video h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro-video p {
    font-size: 1.5rem;
}

.picture{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    padding-top: 30px;
    padding-left: 30px;
    border: dotted ;
    border:darkblue;
    
}
.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}

.about-text{
    margin-left: 20px;
    padding-bottom: 10px;
    font-family: cursive;
    color: antiquewhite;
}

.download-cv {
    background-color: aqua;
    color: #fff;
    padding: 10px 20px;
    border: antiquewhite;
    border-radius: 5px;
    border: dotted;
    cursor: pointer;
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0;
    color:#fff;
    background: aqua;

}

.pro{
    height: 100px;
    width: 200px;
    border-radius: 10px;
}

.project-heading{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
   color: azure;

}



.section {
    padding: 1500px 0;
}
.skill{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0;
    color: whitesmoke;
    background: #333;
}

.skills-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: #ffb6d1;
    
    border: thick dotted;

}

.skills-heading{
    left: 50%;
}

.contact{
    justify-content: center;
    align-items: center;
}

.contact-form{
    
    padding: 5px;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: aqua;
    border: 2px solid aqua;
    
}
.contact-container{
    display: flex;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

#submit{
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    border-top-color:aqua ;
    background: greenyellow;
}
    

    
}

ul{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


footer {

    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    clear: both;
}

.logoPic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.icons{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: #ffb6d1;
}

.section{
    padding-block: 5em;
  }
  .skill {
    position: relative;
    max-width: 600px;
    width: 100%;
    background: transparent;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  .skill skill-box{
    width: 100%;
    margin: 25px 0;
  }
  .skill-box .title{
    display:block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
  }
  .skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px ;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
  }
  .skill-box .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #8749f2;
    animation: progress 0.4s ease-in-out forwards; 
    opacity: 0; 
  }
  
  .skill-per.html{
    animation-delay: 0.1s;
    width: 80%;
  }
  .skill-per.css {
    animation-delay: 0.1s;
    width: 75%;
  }
  .skill-per.python{
    animation-delay: 0.1s;
    width: 65%;
  }
  .skill-per.javascript{
    animation-delay: 0.1s;
    width: 45%;
  }
  @keyframes progress{
    0%{
      width: 0;
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  .skill-per .tooltip{
    position:absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    color: #fff;
    padding: 2px 6px;
    border-radius: 20px;
    background: #42f5bc;
    z-index: 1;
  }
  .top-header span{
    color: var(--text-color);
  }
  
